<div>
    <form action="<%= path %>" method="POST" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="img">Upload</label>
                <input type="file" name="img" class="form-control">
            </div>

        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>