<div class="container py-3">
    <div class="row">
        <div class="col-md-3">
            <figure> <img src="/image/mohini.jpeg" alt="aboutmohini" srcset="" width="200" height="200"></figure>
            <hr>
            <div class="sidebar-link">
                <h6>Social Profiles</h6>
                <ul class="social">
                    <li><a><i class="fab fa-twitter"></i></a></li>
                    <li><a> <i class="fab fa-github"></i></a></li>
                    <li><a> <i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
            <hr>
            <div class="sidebar-link">
                <h6>About This Project</h6>
            </div>
            <hr>
            <div class="sidebar-link">
            </div>
        </div>
    </div>