<div class="container py-3 bg-light">
    <div class="row">
        <div class="col-md-3 project-sidebar">
            <div><img src="/image/mohini.jpeg" class="image" alt="" srcset="" width="200px" height="200px"></div>
            <hr>

            <h5>Social Profiles</h5>
            <div class="icon-link"><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
                <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
                <a href="#"><i class="fa fa-github-square fa-2x"></i></a>
                <a href="#"><i class="fa fa-question-circle fa-2x"></i></a>
            </div>
            <hr>
            <h6>About This Project</h6>
            <div class="icon-link"><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
                <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
                <a href="#"><i class="fa fa-github-square fa-2x"></i></a>
                <a href="#"><i class="fa fa-question-circle fa-2x"></i></a>
            </div>
            <hr>
        </div>
        <hr>

        <div class="col-md-9">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item">About</li>
                </ol>
            </nav>
            <h1 class="about-h1">Hi! I'm Mohini Mishra</h1>
            <p class="about-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda animi aliquam
                accusantium voluptatem
                libero atque quasi fugit rem alias! Voluptate impedit voluptatem quis veniam. Cumque a sint doloribus
                adipisci pariatur?
            </p>
            <hr>
            <h1 class="about-h1">About This Project</h1>
            <p class="about-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda animi aliquam
                accusantium voluptatem
                libero atque quasi fugit rem alias! Voluptate impedit voluptatem quis veniam. Cumque a sint doloribus
                adipisci pariatur?
            </p>
            <hr>
            <h1 class="about-h1">Project Timelines</h1>
            <p class="about-p">In this section we will discuss how much time it will take to build this project,
                followed by a steo by
                step guide.
            </p>
            <% blogInd.forEach((ele)=>{ %>
            <div><a href="#"><%=ele%></a></div>
            <% })%>
        </div>
    </div>
</div>
</div>
</div>