<div class="container py-3 bg-light">
    <div class="row">

        <div class="col-md-9">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/blog">Blog</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><%= data.name%></li>
                </ol>
            </nav>
            <h1><%= data.name%></h1>
            <p><%= data.description %>
            </p>
            <img src="<%= data.image%>" width="80px" height="80px"> <br>
            <small>Watch a live demo <a href="#">Here</a></small>
        </div>
    </div>
</div>