<div class="container py-3 bg-light">
    <div class="row">
        <div class="col-md-3 project-sidebar">
            <div><img src="/image/mohini.jpeg" class="image" alt="" srcset="" width="200px" height="200px"></div>
            <hr>

            <h5>Social Profiles</h5>
            <div class="icon-link"><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
                <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
                <a href="#"><i class="fa fa-github-square fa-2x"></i></a>
                <a href="#"><i class="fa fa-question-circle fa-2x"></i></a>
            </div>
            <hr>
            <h6>About This Project</h6>
            <div class="icon-link"><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
                <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
                <a href="#"><i class="fa fa-github-square fa-2x"></i></a>
                <a href="#"><i class="fa fa-question-circle fa-2x"></i></a>
            </div>
            <hr>
        </div>
        <hr>

        <div class="col-md-9">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item">About</li>
                </ol>
            </nav>
            <h1 class="about-h1">Contact Me</h1>
            <div id="msg"></div>
            <hr>
            <form id="form">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" class="form-control" id="name" placeholder="name">
                </div>
                <div class="form-group">
                    <label for="email">Email address:</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="email">
                </div>
                <div class="form-group">
                    <label for="mobile">Mobile</label>
                    <input type="number" class="form-control" name="mobile" id="mobile" placeholder="mobile">
                </div>
                <div class=" form-group">
                    <label for="textarea"></label>
                    <textarea class="form-control" name="Description" id="textarea" rows="3"
                        placeholder="Description"></textarea>
                </div>
                <button type="submit" id="btn" class="btn btn-primary">Submit</button>
            </form>

        </div>
    </div>
</div>
</div>
</div>
<script src="/js/contact.js"></script>