<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mohini Mishra</title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Quicksand" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>

    <style>
        html {
            background-image: linear-gradient(to bottom right, #8e0e00, #1f1c18);
            background-color: #5f45bb;

        }
    </style>
</head>

<body>
    <div id="wallpaper" class="wallpaper"></div>
    <div class="content">
        <aside class="side">
            <figure id="picture" class="picture">
                <div class="picture-shadow">
                    <img src="/image/mohini.jpeg" alt="Potraite of Mohini mishra" id="pictureImage"
                        class="picture-image" width="320" height="320">
                </div>
            </figure>
        </aside>
        <main class="about">
            <h1 class="name">Hi, I'm Mohini Mishra </h1>
            <p class="job"> Software Developer </p>
            <hr class="hr">
            <div class="description">
                <p>I spend my time infront of laptop, learn coding.</p>
            </div>
            <div class="contact">
                <a href="/project" class="button">Explore More</a>
                <ul class="social">
                    <li>
                        <a href="https://twitter.com/MohiniMishraMM" target="_blank"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/mohinimishra" target="_blank"> <i class="fab fa-github"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/mohini-mishra-5183481b1" target="_blank"> <i
                                class="fab fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </main>
    </div>
    <noscript>
        <style type="text/css">
            .wallpaper {
                animation-name: zoomOut;
            }

            .picture {
                animation-name: dropIn;
            }
        </style>
    </noscript>

    <script src="js/index.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
</body>

</html>