<div class="album py-3 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3 project-sidebar">
                <div class="project-sidebar-block">
                    <h2>Links</h2>
                    <div class="project-sidebar-link">
                        <a class="btn btn-primary" href=#>Live Demo</a>
                    </div>
                    <div class="project-sidebar-link">
                        <a class="btn btn-primary" href=#> Github Link</a>
                    </div>
                </div>
                <hr>
                <div class="project-sidebar-block">
                    <h2>Tags</h2>
                    <div class="badge badge-primary" href=#>Javascript</div>
                    <div class="badge badge-secondary" href=#>Images</div>
                    <div class="badge badge-danger" href=#>Events</div>
                </div>
            </div>
            <div class="col-md-9">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/projects">Projects</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Details</li>
                    </ol>
                </nav>
                <h1>Project Details</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores ut nobis enim fuga labore
                    dicta
                    temporibus, quod animi ad suscipit quam ipsum maxime reprehenderit aliquam eos fugit omnis
                    possimus
                    quos</p>
                <img src="/image/images.jpeg" alt="Project-detail">
            </div>
        </div>
    </div>
</div>