.project-sidebar{
    border-right: 1px solid #e9ecef;
}
.project-sidebar-block{
    padding: 10px 0px;
}

.project-sidebar-link {
    margin: 10px 0px;
}

.sidebar-block {
    display: inline-block
}

.icon-link {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    margin-right: 0.5rem;

}

.icon-link a {
    align-items: center;
    display: flex;
    font-size: 1rem;
    height: 2rem;
    justify-content: center;
    transition-property: opacity, transform;
    width: 2rem;
    will-change: opacity, transform;
    color: gray;
    width: 2.4rem;

}

.icon-link a:hover{
    opacity: 1;
    transform: scale(1.25);
}

.icon-link a:active{
    opacity: 1;
    transform: scale(1.1);
}

.about-h1{
    font-size: 4rem;
}

.about-p{
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    word-spacing: 1px;
}